@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Rancho&family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Rancho&family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Neucha&family=Rancho&family=Teko:wght@700&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body
{	
	overflow-x: hidden;
	background: #fff;
	min-height: 100vh;
}

#header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}

#header .logo
{
	color: #094b65;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
	font-family: Rancho;
}

#header ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}

#header ul li
{
	list-style: none;
	margin-left: 20px;
}

#header ul li a  
{
	text-decoration: none;
	padding: 6px 15px;
	color: #094b65;
	border-radius: 20px;
	transition: all .5s ease;
}

#header ul li a:hover,
#header ul li a.active
{
	background: #094b65;
	color: #fff;
	box-shadow: 0 0 10px #00ced1;
}

section
{
	position: relative;
	width: 100%;
	height: 100vh;
	display:  flex;
	justify-content: center;
	align-items: center;
} 

section::before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #094b65,transparent);
	z-index: 10;
}

section img#cliff2
{
	position: absolute;
	height: 100%;
}

section img
{
	postion: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section #text  
{
	position: absolute;
	color: #094b65;
	font-size: 7vw;
	text-align: center;
	line-height: 0.55em;
	font-family: 'Teko', sans-serif;
	border-radius: 10%;
	text-shadow: 0 0 10px #00ced1;
}

section #text span 
{
	font-size: 0.20em;
	letter-spacing: 2px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	text-shadow: 0 0 10px #00ced1;
}

#btn
{
	text-decoration: none;
	display: flex;
	padding: 8px 30px;
	background: black;
	color: #094b65;
	font-size: size: 1.2em;
	font-weight: 500;
	letter-spacing: 2px;
	border-radius: 40px;
	transform: translateY(100%);
}

.sec 
{
	position: relative;
	padding:100px;
	background: #094b65;
}

.sec h2
{
	font-size: 3.5em;
	color: #fff;
	margin-bottom: 10px;
}

.sec p 
{
	font-size: 1em;
	color:  #fff;
	font-weight: 10;
}

h3
{
	color: white;

}

.sec img
{
	border: 5px solid white;
	border-radius: 50%;
	size: 20 px;
}

/*-------------------------about me ------------------------------------------*/
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body
{	
	overflow-x: hidden;
	background: #fff;
	min-height: 100vh;
}

#sub-header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}

#sub-header .logo
{
	color: #094b65;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
	font-family: Rancho;
}

#sub-header ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}

#sub-header ul li
{
	list-style: none;
	margin-left: 20px;
}

#sub-header ul li a  
{
	text-decoration: none;
	padding: 6px 15px;
	color: #094b65;
	border-radius: 20px;
	transition: all .5s ease;
}

#sub-header ul li a:hover,
#sub-header ul li a.active2
{
	background: #094b65;
	color: #fff;
	box-shadow: 0 0 10px #00ced1;
}

section #text2  
{
	position: absolute;
	color: #094b65;
	font-size: 7vw;
	text-align: center;
	line-height: 0.55em;
	font-family: 'Poppins', sans-serif;
	border-radius: 10%;
	font-size: 50px; 
	padding-right: 700px; 
}
section #text2 span 
{
	font-size: 0.20em;
	letter-spacing: 2px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.aboutsec h2
{
	margin-left: 200px;
}

div #how
{
	font-family: Island Moments;
	margin-left: 250px;
}

/*------------------------------------------------*/

.wrapper
{
	display: flex;
	width: 100%;
	height: 100vh/*calcu(100vh - 10px)*/;
	justify-content: center;
	align-items: center;
	padding: 0 10%;
	overflow: hidden;
}

.wrapper::before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #ffffff,transparent);
	z-index: 10;
}

@keyframes object1
{
	50%
	{
		left: -13%;
		top: 41%;
	}
}

@keyframes object2
{
	50%
	{
		left: 35%;
		top: 10%;
	}
}

.cols
{
	width: 50%;
}

.cols0
{
	width: 60%;
	z-index: 5;
}

.topline
{
	display: block;
	position: relative;
	font-size: 35px;
	letter-spacing: 5px;
	color: #094b65;
	font-family: 'Cinzel', serif;
}

.topline::after
{
	position: absolute;
	content: '';
	height: 4px;
	width: 5px;
	bottom: 10px;
	background-color: #00ced1;
}

h1
{
	display: block;
	font-size: 4em;
	font-weight: 900;
	color: #094b65;
	font-family: 'Cinzel', serif;
}

.multiText
{
	color: #00ced1;
	text-transform: capitalize;
	font-family: 'Cinzel', serif;

}

.wrapper p
{
	color: #555;
	line-height: 22px;	
	font-size: .80em;
	letter-spacing: 2px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 10px;
}

.btnsx
{
	width: 100%;
	position: relative;
	left: 100px;
}

.button
{
	outline: none;
	border:  none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	background-color: #3d535f;
	padding: 8px 14px;
	margin: 40px 5px;
	letter-spacing: 2px;
	text-transform: capitalize;
	box-shadow: 0 15px 10px rgba(0,0,0,0.4);
	font-family: 'Cinzel', serif;
}

.button:hover
{						
	background-color: #00ced1;
}

.imgbox
{
	position: relative;
	width: 100%;
	height: 100%;
}

.imgbox img
{
	padding-top: 900px;
	position: relative;
	height: 100%;
	width: cal(130% - 80px);
	top: 50px;
	right: 50px;
	animation:  animateUser 4s linear infinite;
}

@keyframes animateUser
{
	50%{
		right: 30px;
		top: 90px;
	}
}

.imgbox #spooky
{
	position: absolute;
	top: 50%;
	left:  50%;
	transform:  translate(-50%, -50%) rotate(-35deg);
	width:  160%;
	filter:  saturate(200%);
	animation:  animate 4s linear infinite;
}

@keyframes animate
{
	50%{
		right: -10px;
		top: 1200px;
		width:  155%;
	}
}

/*------------------------DIVS-----------------------------------*/
#div1
{
	width: 1000px;
	margin: 0 auto;
}

.about1
{
	width: 450px;
	float: left;
}

.about2
{
	width: 650px;
	float: right;
	margin-right: 0px;
	padding-right: 70px;
	padding-left: 70px;

}

.about2 p
{
	font-size: 12px;
}


/*-------------------------Donation---------------------------------*/
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{	
	overflow-x: hidden;
	background: #fff;
	min-height: 100vh;
}
#donation-header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}
#donation-header .logo
{
	color: #094b65;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
	font-family: Rancho;
}
#donation-header ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}
#donation-header ul li
{
	list-style: none;
	margin-left: 20px;
}
#donation-header ul li a  
{
	text-decoration: none;
	padding: 6px 15px;
	color: #094b65;
	border-radius: 20px;
	transition: all .5s ease;
}
#donation-header ul li a:hover,
#donation-header ul li a.active4
{
	background: #094b65;
	color: #fff;
	box-shadow: 0 0 10px #00ced1;
}

.video iframe
{
	margin-left: 100px;
	margin-top: 100px;
}

#videolink
{
	width: 1300px;
	margin: 0 auto;
}

#videolink p
{
	margin-left: 100px;
	font-size: 14px;
}

#videolink h4
{
	font-family: 'Amatic SC', cursive;
	margin-left: 100px;
	font-size: 25px;
}

.video
{
	width: 450px;
	float: left;

}

.save
{
	margin-top: 228px;
	width: 650px;
	float: right;
	margin-right: 0px;
	padding-right: 70px;
	padding-left: 70px;
}

.save h4
{
	color: black;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}

.save p
{
	font-size: 45px;
	font-family: 'Amatic SC', cursive;
}

.treat p
{
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
}

.coin p
{
	font-size: 13px;
	color: black;
	font-family: calibri;
	font-style: italic;
	color: #666666;
	
}

.treat h6
{
	font-size: 20px;
	font-family: 'Amatic SC', cursive;
}

.treat h5
{
	font-size: 23px;
	font-family: 'Amatic SC', cursive;
	font-style: italic;
}

.treat img 
{
	padding-right: 40px;
}

.payment p
{
	font-size: 20px;
	font-family: 'Amatic SC', cursive;
	font-style: italic;
}

.sendtreat
{
	width: 100%;
	position: relative;
	left: 5px;
}

.sendbutton
{
	outline: none;
	border:  none;
	cursor: pointer;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	background-color: #3d535f;
	border-radius: 25px;
	padding: 8px 14px;
	margin: 40px 5px;
	letter-spacing: 2px;
	text-transform: capitalize;
	box-shadow: 0 15px 10px rgba(0,0,0,0.4);
	font-family: 'Cinzel', serif;
}

.sendbutton:hover
{						
	background-color: #00ced1;
}

.main-icon
{
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}

.icons
{
	background: dimgray;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: sans-serif;
	font-size: 25px;
	overflow: hidden;
	margin: 20px;
	box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
	transition: all .3s ease-out;
}

.icons span
{
	color: white;
}

.main-icon .fa-facebook-f
{
	color: white;
}

.fb:hover
{
	background: #1A6ED8;
}

.main-icon .fa-youtube
{
	color: white;
}

.youtube:hover
{
	background: red;
}

.icons:hover
{
	width: 250px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

/*-------------------treat---------------------------*/

.paymethod img 
{
	padding-left: 480px;
	padding-top: 100px;
	max-width: 1920px;
	min-width:480px;
	overflow: hidden;

}

.payment p 
{
	padding-left: 527px;
	font-size: 30px;
}

.number p 
{
	padding-left: 560px;
	font-size: 30px;
	font-family: 'Cinzel', serif;
}

.inform p 
{
	padding-left: 510px;
	font-size: 12px;
	color: #808080;
}

/*---------------------button--------------------------------*/
.btnh
{
	display: flex;
	justify-content: center;
	align-items: right;
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
	flex-direction: column;
}
.btnh a 
{
	position: relative;
	width: 300px;
	height: 75px;
	margin: 10px 0;
	font-size: 40px;
	text-decoration: none;
	transition: 0.5s;
	color: #094b65;
	font-family: 'Cinzel', serif;
}

.btnh a:hover 
{
	color: #fff;
}
.btnh a:before
{
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background: url(btn-bg2.png);
	background-size: cover;
	transform-origin: left;
	transition: 0.5s;
}
.btnh a:hover:before
{
	width: 100%;
}
.btnh a span 
{
	position: relative;
	z-index: 1;
}

/*-------------------screen sizes--------------------------*/

@media(max-width: 1024px)
{
	/*----------------index---------------*/

	div #how
	{
		font-family: Island Moments;
		margin-left: 80px;
	}

	.about1
	{
		margin-left: 200px;
	}

	/*----------------about---------------*/
	.imgbox img
	{
		padding-top: 1100px;
		padding-left: 100px;
		position: relative;
		height: 100%;
		width: cal(130% - 80px);
		top: 50px;
		right: 50px;
		animation:  animateUser 4s linear infinite;
	}

	@keyframes animate
	{
		50%{
			right: -10px;
			top: 1300px;
			width:  155%;
		}
	}
	.about2
	{
		margin-right: 50px;
	}

	.save
	{
		margin-top: -850px;
		width: 650px;
		float: right;
		margin-right: 0px;
		padding-right: 0px;
		padding-left: 350px;
	}

		/*--------------treat-------------------*/
	.paymethod img 
	{
		padding-left: 340px;
		padding-top: 100px;
		max-width: 1920px;
		min-width:480px;
		overflow: hidden;

	}

	.payment p 
	{
		padding-left: 387px;
		font-size: 30px;
	}

	.number p 
	{
		padding-left: 417px;
		font-size: 30px;
		font-family: 'Cinzel', serif;
	}

	.inform p 
	{
		padding-left: 380px;
		font-size: 12px;
		color: #808080;
		padding-top: 100px;
	}
}

@media(min-width: 1200px)
{
	/*----------------index---------------*/

	div #how
	{
		font-family: Island Moments;
		margin-left: 220px;
	}

	/*----------------about---------------*/
	.imgbox img
	{
		padding-top: 1050px;
		padding-left: 100px;
		position: relative;
		height: 100%;
		width: cal(130% - 80px);
		top: 50px;
		right: 50px;
		animation:  animateUser 4s linear infinite;
	}

	@keyframes animate
	{
		50%{
			right: -10px;
			top: 1300px;
			width:  155%;
		}
	}
}

@media(min-width: 1300px)
{
	/*--------------about-------------------*/
	.imgbox img
	{
		padding-top: 1000px;
		padding-left: 100px;
		position: relative;
		height: 100%;
		width: cal(130% - 80px);
		top: 50px;
		right: 50px;
		animation:  animateUser 4s linear infinite;
	}

	@keyframes animate
	{
		50%{
			right: -10px;
			top: 1300px;
			width:  155%;
		}
	}


	/*--------------treat-------------------*/
	.paymethod img 
	{
		padding-left: 520px;
		padding-top: 100px;
		max-width: 1920px;
		min-width:480px;
		overflow: hidden;

	}

	.payment p 
	{
		padding-left: 567px;
		font-size: 30px;
	}

	.number p 
	{
		padding-left: 597px;
		font-size: 30px;
		font-family: 'Cinzel', serif;
	}

	.inform p 
	{
		padding-left: 550px;
		font-size: 12px;
		color: #808080;
		padding-top: 100px;
	}
}

@media(min-width: 1440px)
{
	/*----------------index---------------*/

	div #how
	{
		font-family: Island Moments;
		margin-left: 250px;
	}

	/*--------------about-------------------*/
	.imgbox img
	{
		padding-top: 1150px;
		padding-left: 100px;
		position: relative;
		height: 100%;
		width: cal(130% - 80px);
		top: 50px;
		right: 50px;
		animation:  animateUser 4s linear infinite;
	}

	@keyframes animate
	{
		50%{
			right: -10px;
			top: 1300px;
			width:  155%;
		}
	}


	/*--------------treat-------------------*/
	.paymethod img 
	{
		padding-left: 550px;
		padding-top: 100px;
		max-width: 1920px;
		min-width:480px;
		overflow: hidden;

	}

	.payment p 
	{
		padding-left: 597px;
		font-size: 30px;
	}

	.number p 
	{
		padding-left: 627px;
		font-size: 30px;
		font-family: 'Cinzel', serif;
	}

	.inform p 
	{
		padding-left: 580px;
		font-size: 12px;
		color: #808080;
		padding-top: 250px;
	}
}

@media(min-width: 1600px)
{
	/*----------------index---------------*/

	div #how
	{
		font-family: Island Moments;
		margin-left: 380px;
	}


	/*----------------about----------------*/

	.imgbox
	{
		position: relative;
		width: 100%;
		height: 100%;
	}

	.imgbox img
	{
		padding-top: 1200px;
		padding-left: 100px;
		position: relative;
		height: 100%;
		width: cal(130% - 80px);
		top: 50px;
		right: 50px;
		animation:  animateUser 4s linear infinite;
	}

	@keyframes animateUser
	{
		50%{
			right: 30px;
			top: 100px;
		}
	}

	.imgbox #spooky
	{	
		padding-top: 1200px;
		position: absolute;
		top: 50%;
		left:  40%;
		transform:  translate(-50%, -50%) rotate(-35deg);
		width:  160%;
		filter:  saturate(200%);
		animation:  animate 4s linear infinite;
	}

	@keyframes animate
	{
		50%{
			right: -10px;
			top: 1400px;
			width:  155%;
		}
	}

	.about1
	{
		width: 450px;
		float: left;
		margin-left: -100px;
	}

	.about2
	{
		width: 650px;
		float: right;
		margin-right: 50px;
		padding-right: 70px;
		padding-left: 70px;

	}

	/*--------------treat-------------------*/
	.paymethod img 
	{
		padding-left: 640px;
		padding-top: 100px;
		max-width: 1920px;
		min-width:480px;
		overflow: hidden;

	}

	.payment p 
	{
		padding-left: 690px;
		font-size: 30px;
	}

	.number p 
	{
		padding-left: 715px;
		font-size: 30px;
		font-family: 'Cinzel', serif;
	}

	.inform p 
	{
		padding-left: 670px;
		font-size: 12px;
		color: #808080;
		padding-top: 230px;
	}
}

@media(min-width: 1680px)
{

	.imgbox img
	{
		padding-top: 1250px;
		padding-left: 100px;
		position: relative;
		height: 100%;
		width: cal(130% - 80px);
		top: 50px;
		right: 50px;
		animation:  animateUser 4s linear infinite;
	}

	.wrapper::before
	{
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 300px;
		background: linear-gradient(to top, #ffffff,transparent);
		z-index: 10;
	}

	@keyframes animate
	{
		50%{
			right: -10px;
			top: 1450px;
			width:  155%;
		}
	}


	/*--------------treat-------------------*/
	.paymethod img 
	{
		padding-left: 660px;
		padding-top: 200px;
		max-width: 1920px;
		min-width:480px;
		overflow: hidden;

	}

	.payment p 
	{
		padding-left: 710px;
		font-size: 30px;
	}

	.number p 
	{
		padding-left: 735px;
		font-size: 30px;
		font-family: 'Cinzel', serif;
	}

	.inform p 
	{
		padding-left: 690px;
		font-size: 12px;
		color: #808080;
		padding-top: 300px;
	}
}

@media(min-width: 1900px)
{

	/*----------------index---------------*/

	div #how
	{
		font-family: Island Moments;
		margin-left: 480px;
	}

	/*----------------about---------------*/
	.imgbox img
	{
		padding-top: 1400px;
		padding-left: 100px;
		position: relative;
		height: 100%;
		width: cal(130% - 80px);
		top: 50px;
		right: 50px;
		animation:  animateUser 4s linear infinite;
	}

	.wrapper::before
	{
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 300px;
		background: linear-gradient(to top, #ffffff,transparent);
		z-index: 10;
	}

	@keyframes animate
	{
		50%{
			right: -10px;
			top: 1550px;
			width:  155%;
		}
	}

	.about1 p
	{
		font-size: 18px;
	}

	.about2 p
	{
		font-size: 14px;
	}

	/*---------------donation----------------*/
	#videolink p
	{
		margin-left: 100px;
		font-size: 18px;
	}

	#videolink h4
	{
		font-family: 'Amatic SC', cursive;
		margin-left: 100px;
		font-size: 35px;
	}

	.save
	{
		margin-top: 228px;
		width: 650px;
		float: right;
		margin-right: 100px;
		padding-right: 70px;
		padding-left: 70px;
	}

	.save h4
	{
		color: black;
		font-family: 'Amatic SC', cursive;
		font-size: 30px;
	}

	.save p
	{
		font-size: 55px;
		font-family: 'Amatic SC', cursive;
	}

	.coin p
	{
		font-size: 20px;
		color: black;
		font-family: calibri;
		font-style: italic;
		color: #666666;
		
	}

	.treat h6
	{
		font-size: 30px;
		font-family: 'Amatic SC', cursive;
	}

	.treat h5
	{
		font-size: 35px;
		font-family: 'Amatic SC', cursive;
		font-style: italic;
	}

	/*--------------treat-------------------*/
	.paymethod img 
	{
		padding-left: 760px;
		padding-top: 200px;
		max-width: 1920px;
		min-width:480px;
		overflow: hidden;

	}

	.payment p 
	{
		padding-left: 810px;
		font-size: 30px;
	}

	.number p 
	{
		padding-left: 835px;
		font-size: 30px;
		font-family: 'Cinzel', serif;
	}

	.inform p 
	{
		padding-left: 790px;
		font-size: 12px;
		color: #808080;
		padding-top: 430px;
	}
}
/*-------------------end of line---------------------------*/                            
